<% include partials/header %>

<div class="container text-center">
  <h1>Cast Your Vote Here!</h1>
  <a href="/votes/new"><strong>Add New Poll</strong></a>
  <div>
    <% votes.forEach(function(vote){ %>
       <a href="/votes/<%=vote._id%>">
          <h3><%= vote.pollTitle %></h3>
       </a>
   <% }); %>
  </div>
</div>

<% include partials/footer %>
