<% include partials/header %>

<div class="ui container text home">
 <div class="ui home-header header center aligned">

  <div class="content">
      <h2>Welcome to the Voting App</h2>
      <h3> Register to create new votes</h3>
   </div>
      <div class="ui container center">
          <a class="ui black button large" href="/polls">Check out the existing polls</a>
          <div class='ui'>
            <i class="angle double right icon"></i>
         </div>
      </div>


  </div>
</div>

<% include partials/footer %>
