<% include partials/header %>

<div class=container>
    <div class='row'>
      <h2 style='text-align: center;'>Submit a New Poll</h2>
      <div style='width: 30%; margin:25px auto'>
      <form action='/votes'  method='POST'>
          <div class='form-group'>
            <label for="">Poll Name</label>
              <input class='form-control' type='text' name='pollName' placeholder='Name of your poll'>
          </div>
          <div class='form-group'>
            <label for="">Poll Options</label>
              <input class='form-control' type='text' name='pollOptions' placeholder='Enter your options here'>
          </div>
        <div class='form-group'>
               <button class='btn btn-lg btn-primary btn-block'>Submit New Poll!</button>
        </div>
       </form>
      <a href='/votes'>Go Back</a>
     </div>
   </div>
</div>

<% include partials/footer %>
