
i.icon {
    font-size: 2em;
}

div.field.inline > input {
  width: 90% !important;
}

.flash{
  margin-top: 7rem;
  margin-bottom: 2rem;
  text-align: center;
}

.horizontal.divider {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
