<% include ../partials/header %>
		<div class="ui text container edit">
			<h1 class="ui header teal dividing center aligned">Enter Your New Poll Here</h1>

			<form class="ui form" action="/polls" method="POST">
				<div class="form-fields">
					<div class="field required">
						<input required  type="text" name="pollName" placeholder="Name of your poll - Reequired">
					</div>
          <div class="field required">
						<input required type="text" name="pollOption" placeholder="Enter your options here - Reequired">
					</div>
          <div class="field required">
            <input required type="text" name="pollOption" placeholder="Enter your options here - Reequired">
          </div>

					<div class="field inline">
						<input type="text" name="pollOption" placeholder="Enter your options here">
                <i class="times icon delete-field"></i>
					</div>

					</div>
					 <div class="ui hidden divider"></div>
					 <div class="ui header">
							<input class="ui teal button" type="submit" id="form-submit-btn">
              <input class="ui teal button right floated" value="More Options" type="button" id="add-item-input">
						</div>
							<a href="/polls">Back</a>
				</form>
		</div>

	<% include ../partials/footer %>
  <script>

    $("#add-item-input").click(function() {
        $(".form-fields").append(
          '<div class="field inline"><input type="text" name="pollOption" placeholder="additional inputs"><i class="times icon delete-field"></i></div>'
        );
      });

      $(".form-fields").on("click", ".delete-field", function(e) {
        e.preventDefault();
        $(this)
          .parent("div")
          .remove();
      });
  </script>
